@charset "utf-8";

*{margin:0;padding:0;}

html{
	background:#ffffff;
}

body{
font: 13px/1.5 "メイリオ","Meiryo",arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
color:#252525;
background:url(/img/a3.png) repeat scroll center top #EDE4CD;
}


a{color:#224a17;}
a:hover{color:#675d48;text-decoration:none;}
a:active, a:focus {outline: 0;}
img{border:0;}
.clear{clear:both;}
p{margin-bottom: 10px;}
.center{text-align:center;}
.right{text-align:right;}


/*******************************
全体幅
*******************************/
#header, #container, .inner{
margin: 0 auto;
width: 960px;
}


/*******************************
/* ヘッダー
*******************************/
#header{
	position:relative;
	height: 130px;
	background-repeat: no-repeat;
	background-position: 360px 10px;
	background-image: url(/img/85020.png);
	background-size:250px 200px;
}

#header h1,#header h2, #header h3, #header ul, #header .banners{
font-weight:normal;
position:absolute;
top:0;
color: #333;
font-size: 10px;
line-height: 21px;
}

#header h2{right:0;}

/* ロゴの位置 */
#header h3{
	top: 25px;
}


/******************
/* ヘッダーナビゲーション
******************/
#header ul{
	top: 40px;
	right:0;
	width: 305px;
	height: 16px;
	background:url() no-repeat 0 0;
	line-height:14px;
}

#header ul li{float:left;list-style:none;}

#header ul a{
/*text-indent: -9999px;*/
font-size: small;
font-family: serif;
font-weight: bold;
text-decoration: none;
display: block;
height: 14px;
background:url() no-repeat;
}

#header ul a#contact{background-position:0 0;width: 110px;}
#header ul a#sitemap{background-position:-110px 0;width:104px;}
#header ul a#access{background-position:-214px 0;width:91px;}

#header ul a#contact:hover, #header ul li.active a#contact{background-position:0 -14px;}
#header ul a#sitemap:hover, #header ul li.active a#sitemap{background-position:-110px -14px;}
#header ul a#access:hover, #header ul li.active a#access{background-position:-214px -14px;}


/******************
/* ヘッダー　バナー
******************/
#header .banners{
right:-10px;
top:65px;
}

#header .banners img{margin-right:10px;}
#nav_back {
	background-image: url(/img/_23-2147992744.jpg);
	background-repeat: repeat-x;
}



/************************************
/* メインナビゲーション
************************************/
ul#mainnav{
	width: 960px;
	height: 60px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	background-position: 0 0;
	background-image: url(/img/mainnav.png);
}

ul#mainnav li{
	float:left;list-style:none;
	width:192px;
	height: 60px;
}

ul#mainnav a{
	font-weight:bold;
	color: aliceblue;
	text-align: center;
	margin-top: 15px;
	font-size: medium;
	/*text-indent: -9999px;*/
	text-decoration: none;
	display: block;
	/*width: 192px;*/
	/*height: 60px;*/
	background-position: 0 0;
	background-repeat: no-repeat;
}

ul#mainnav li:hover {
	/*color:#78987c; 	*/
	background-color: #90ac52
}
/*******************************
パンくずリスト
*******************************/

.breadcrumb {
  padding-left:0;
  margin-left:0;
}

.breadcrumb li{
  display:inline;/*横に並ぶように*/
  list-style: none;
  font-weight: bold;/*太字*/
}

.breadcrumb li:after {/* >を表示*/
  content: '>';
  padding: 0 3px;
  color: #555;
}

.breadcrumb li:last-child:after {
  content: '';
}

.breadcrumb li a {
  text-decoration: none;
  color: #90ac52;/*色*/
}

.breadcrumb li a:hover {
  text-decoration: underline;
}

/*******************************
メイン画像
*******************************/
#mainImage{
}


/*******************************
コンテンツ位置
*******************************/
#container{
padding: 20px 0;
}
#pankuzu {
	padding-bottom: 15px;
	font-size: 11px;
}


#main {
	float: left;
	width: 100%;
	padding-bottom:20px;
	margin-right: -225px;
	/*-webkit-text-size-adjust:none;*/
}

#sidebar {
float: right;
width: 225px;
padding-bottom:40px;
font-size:13px;
}




/*************************
/* ボックスの囲み
/* .boxContainer
/* 背景画像でボックスの高さを調整
/* 
/* 各ボックス
/* .box1 1番目の2つのbox
/* .box2 2番目の3つのbox（画像）
/* .box3 3番目の2つのbox
/* .box4 4,5番目の1つのbox
/* #sidebar .box1 サイドバーのbox
*************************/
.boxContainer{
margin:0 auto 20px;
background:url() 0 100%;
}

.box1,.box2, .box3, .box4{
float: left;
width: 225px;
margin: 0 20px 20px 0;
}

.box1, .box3, .box4{
	width:327px;
	padding: 10px;
	margin-top: 0;
	margin-right: 21px;
	margin-bottom: 0;
	margin-left: 0;
}

#sidebar .box1{
width:209px;
margin: 0 0 20px;
padding: 10px 7px;
border:2px solid #224a17;
}

.box3{
width:347px;
padding:0 0 10px;
}

.box4{
margin:0 0 20px 0;
padding:0;
width:715px;
}

.box5{
	width: auto;
	padding: 0;
	margin: 20px;
	line-height: 1.5em;
}
.box5 h5 {
	font-size: 12px;
	text-indent: 16px;
	background-image: url();
	background-repeat: no-repeat;
	background-position: left 3px;
	margin-top: 15px;
}

.box6 {
	float: left;
	width: 440px;
	margin-top: 0;
	margin-right: 15px;
	margin-bottom: 20px;
	margin-left: 0;
}

.box5 p {
	margin: 0px;
}
.box5 h4 {
	font-weight: normal;
	font-size: 14px;
	color: #242;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #993;
	padding-left: 5px;
	margin-top: 15px;
	padding-bottom: 0px;
	line-height: 1.2em;
	margin-bottom: 10px;
}


/* 最後のbox */
.last{margin-right:0;}


/* 画像を中央表示 */
.box1 .center{
	padding-bottom:10px;
}

/* 画像を中央表示 */
.box1 img{
	border: 5px solid #f9be73;
	border-radius: 10px;
}

/* 画像を左に回りこみ */

.box4 h4{
	line-height: 36px;
	font-size: 20px;
	color: #ffffff;
	background: url(/img/kIWTZHHbYpmGM5v1567876466_1567876531.jpg);
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0;
	padding-left: 34px;
	font-weight: bold;
	margin-bottom: 20px;
	height: 37px;
}

.box4 img{
	margin-top: 0;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	float: left;
}

.box4 h4 img{
	float:none;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 20px;
	margin-left: 0;
	width:715px;
}

.box4 p{
	padding: 0 10px 10px;
	line-height: 1.5em;
}



#date {
text-align: right;
padding-right: 15px;
padding-top: 5px;
padding-bottom: 10px;
font-weight:bold;
color:#858585;
}

#next {
text-align: center;
padding-top: 30px;
padding-bottom: 30px;
}

img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.alignright {
    padding: 4px;
    margin: 0 0 2px 7px;
    display: inline;
}
img.alignleft {
    padding: 4px;
    margin: 0 7px 2px 0;
    display: inline;
}
.alignright {
    float: right;
}
.alignleft {
    float: left;
}

.box_img_border{
   border: 2px solid #1c1b18;
   padding: 1px;
  margin: 1px;
}

/*--------clearfix-------------*/

.clearfix:after {
  content: ".";  /* 新しい要素を作る */
  display: block;  /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
	height: 1px;
  /*¥*//*/
  height: auto;
  overflow: hidden;
  /**/
}


/*************
/* 見出し
*************/
.box3 h4{margin-bottom:10px;}

#container h3{
	margin-bottom:10px;
	padding-bottom:5px;
	color: #444444;
	border-bottom: 2px dotted  #675d48;
}

#container h2{
	line-height:36px;
	font-size: 16px;
	color:#ffffff;
	background:url(/img/_23-2147992744.jpg);
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0;
	padding-left: 34px;
	font-weight: normal;
}

#container #box4 h3{
	padding: 7px 5px;
	font-weight: bold;
}


/*************
/* リスト
*************/
#container ul{margin-left: 10px;}

#container ul li, #footerUpper ul li{
	/*list-style: none;*/
	padding-top: 0;
	padding-right: 5px;
	padding-bottom: 0;
}

#container .box3 ul{padding: 0 5px;}

#sidebar ul{margin-left:3px;}

/*************
サイド（右側）コンテンツ
*************/
#sidebar p{margin-bottom:20px;}
#sidebar ul{margin-bottom:10px;}
#container #sidebar h3{color: #fff;border-bottom: 2px dotted #fff;}
div.side_box{
	padding: 10px;
	background-color:orange;
	background-image:url(/img/_23-2147992744.jpg);
	margin-bottom: 10px;
	border-radius: 15px;
	color: #FFF;
	font-size: 14px;
}



/*******************************
/* フッター
*******************************/
#footerUpper{
clear:both;
padding: 20px 0;
border-bottom:1px solid #5c4614;
overflow: hidden;
background:#fff8d9 url() repeat-x;
}

#footerUpper .inner{
background:url(/img/footerBorder.gif) repeat-y;
}

#footerUpper .inner .box{
float: left;
width: 210px;
padding-left:10px;
margin:0 20px 10px 0;
line-height: 1.2;
}

#footerUpper .inner .last{
width: 230px;
margin-right:0;
}

#footerUpper ul li{
color:#fff;
background:url() no-repeat 0 3px;
}

#footerUpper a{color:#5c4614;}
#footerUpper a:hover{color:#61563d;}

#footerLower{
clear:both;
padding: 10px;
text-align:center;
border-top:1px solid #7e7e7e;
background:#1c1b18;
}

address{
color: #fff;
font-style:normal;
font-size:13px;
}

/*******************************
/* 施設のご案内
*******************************/

#info_back{
	background-image: url();
	background-repeat: repeat;
	background-position: top;
	padding-top: 20px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #bdb097;
	border-left-color: #bdb097;
	padding-bottom: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #bdb097;

}

.box5_info{
	width: auto;
	line-height: 1.5em;
	background-image: url();
	background-repeat: no-repeat;
	background-position: top;
	padding-top: 30px;
	padding-right: 40px;
	padding-bottom: 1px;
	padding-left: 150px;
}
.box5_in01 p {
	line-height: 1.6em;


}
.in01_img {
	margin-bottom: 30px;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 0px;
}
.in01_img img {
	padding-right: 2px;
	padding-left: 2px;
}

.box5_info h4 {
	font-weight: normal;
	font-size: 14px;
	color: #242;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #993;
	padding-left: 5px;
	margin-top: 15px;
	padding-bottom: 0px;
	line-height: 1.2em;
	margin-bottom: 10px;
}
.box5_info dl {
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	font-size: 14px;
}



.box5_info dl dt {
	float: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	font-weight: bold;
	color: #930;
}
.box5_info dl dd {
	text-indent: 12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #990;
}
.box5_info .info_sub li {
	list-style-type: square;
	list-style-position: inside;
	padding: 0px;
}
#info_back .info_in_end {
	background-image: url();
	background-repeat: no-repeat;
	background-position: bottom;
	height: 197px;
	margin: 0px;
}
.info_in_end .reservation {
	left: 82px;
	top: 45px;
	padding-top: 20px;
	padding-left: 150px;
}



/* 画像を左に回りこみ */

.img_right{
	float: right;
	padding-left: 10px;
	padding-bottom: 150px;
}

/*******************************
/* アクセス
*******************************/

.box5 .access dt {
	font-weight: bold;
	color: #933;
	margin-top: 10px;
}
.box5 .access dd {
	text-indent: 12px;
}
.box5 img{
	border: 5px solid #f9be73;
	border-radius: 10px;
}


/*******************************
/* 料金のご案内
*******************************/

.box5 .price {
	margin: 0px;
	padding: 0px;
	line-height: 2em;
}

.box5 .price dt {
	float: left;
	margin-right: 15px;
	margin-left: 10px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.box5 .price dd {
	padding: 0px;
	margin: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #993;
}



/*******************************
/* サイトマップ
*******************************/

.ul_sitemap {
	line-height: 3em;
}


/*******************************
/* スタイル
*******************************/

.textstyle01 {
	font-size: 18px;
	font-weight: bold;
	color: #900;
}
.textstyle02 {
	font-size: 12px;
	color: #933;
}
.smalltext {
	font-size: small;
}

/*******************************
/* RSS
*******************************/
#rss {
	width:auto;
	height:100%;
	overflow-y : hidden;
	margin-right: 15px;
	margin-left: 15px;
	padding-top: 0px;
	padding-bottom: 100px;
	padding-left: 0px;
}

#rss hr {
	height:1px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
}
#rss .Interlinear {
	clear:both;
}
#rss img {
	padding-right: 8px;
	padding-bottom: 8px;
	padding-top: 0px;
	padding-left: 0px;
}
.rss_title {
	font-weight:bold;
	padding-bottom: 8px;
}
.rss_title a{
	color: #006;
	padding-bottom: 8px;
}
.rss_line {
	border-top:1px solid #999999;
	padding-bottom:8px;
	clear:both;
}



/* 吹き出し本体 */
.balloon1{
  position: relative;
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #0888ff;
  margin-left: 110px;          /* 左に余白を設ける */
}
/* 画像 - 絶対配置で左上に配置 */
.balloon1 .icon{
  position: absolute;
  left: -110px;
  top: 0;
}
/* 三角アイコン */
.balloon1::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -15px;
  top: 20px;
  border-right: 15px solid #0888ff;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

/* 吹き出し本体 */
.balloon2{
  position: relative;
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #0888ff;
  margin-right: 110px;          /* 右に余白を設ける */
}
/* 画像 - 絶対配置で右上に配置 */
.balloon2 .icon{
  position: absolute;
  right: -110px;
  top: 0;
}
/* 三角アイコン */
.balloon2::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  right: -15px;
  top: 20px;
  border-left: 15px solid #0888ff;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

#slick-top {
  width: 960px;
  height: 620px;
  position: relative;
  overflow: hidden;
}
#slick-top img{
  width: 960px;
  height: 620px;
}

.balloon1 {
  position: relative;
  display: inline-block;
  margin-left: 1.5em;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #ffffff;
  border-radius: 25px;
}

.balloon1:before {
  content: "";
  position: absolute;
  
  top: -25%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 25px solid #ffffff;
}

.balloon1 p {
  margin: 0;
  padding: 0;
}

table#times_board {
	background-color: #ffffff;
}
